docs.oasis-open.org/dss-x/dss-core/v2.0/csprd01/schema/oasis-sstc-saml-schema-protocol-1.1-dss-rw.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
     Digital Signature Service Core Protocols, Elements, and Bindings Version 2.0
     Committee Specification Draft 01 / Public Review Draft 01
     29 August 2018
     Copyright (c) OASIS Open 2018. All Rights Reserved.
     Source: http://docs.oasis-open.org/dss-x/dss-core/v2.0/csprd01/schema/
     Latest version of narrative specification: http://docs.oasis-open.org/dss-x/dss-core/v2.0/dss-core-v2.0.html
     TC IPR Statement: https://www.oasis-open.org/committees/dss-x/ipr.php
     
-->
<!--

Important Remark:

This schema and its declared namespace are changed!
It is NOT compatible with the original schema!

Version 2.0 of the DSS/X specification introduces a multi-syntax approach to 
support both JSON and XML. Therefore it is neccessary to limit the use of
syntax elements to a common base. Another goal is to support implementors 
using mapping frameworks.These requirements affect the XML syntax and resulted
in the modification of existing scheme. These major topics are identified:

- the use of xs:any
- the 'mixed' content attribute of xs:complexType
- inline namespace declarations usede within XPath expressions
- 'choice' constructs that maybe mapped by frameworks in an untyped way

This schema is rewritten to fulfil the requirements mentioned above. The 
functionalities intended by the initial authors is preserved as good as 
possible. For details regarding the multi-syntax approach and the DSS-X 
specification in general see [@ToDo].

-->
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:dss2="http://docs.oasis-open.org/dss-x/ns/core"
  xmlns:dsb="http://docs.oasis-open.org/dss-x/ns/base"
  xmlns:ds-rw="http://docs.oasis-open.org/dss-x/ns/xmldsig/rewritten"
  xmlns:saml-rw="http://docs.oasis-open.org/dss-x/ns/SAML_1.0/assertion/rewritten"
  xmlns:saml2-rw="http://docs.oasis-open.org/dss-x/ns/saml2/rewritten"
  targetNamespace="http://docs.oasis-open.org/dss-x/ns/SAML_1.0/assertion/rewritten"
  elementFormDefault="unqualified" attributeFormDefault="unqualified" version="1.1">

  <!-- import namespace="http://www.w3.org/2000/09/xmldsig#" schemaLocation="http://www.w3.org/TR/xmldsig-core/xmldsig-core-schema.xsd"/-->
  <xs:import namespace="http://docs.oasis-open.org/dss-x/ns/xmldsig/rewritten"
    schemaLocation="xmldsig-core-schema-dss-rw.xsd"/>
  <annotation>
    <documentation> Document identifier: oasis-sstc-saml-schema-assertion-1.1 Location:
      http://www.oasis-open.org/committees/documents.php?wg_abbrev=security Revision history: V1.0
      (November, 2002): Initial standard schema. V1.1 (September, 2003): * Note that V1.1 of this
      schema has the same XML namespace as V1.0. Rebased ID content directly on XML Schema types
      Added DoNotCacheCondition element and DoNotCacheConditionType </documentation>
  </annotation>
  <simpleType name="DecisionType">
    <restriction base="string">
      <enumeration value="Permit"/>
      <enumeration value="Deny"/>
      <enumeration value="Indeterminate"/>
    </restriction>
  </simpleType>
  <element name="AssertionIDReference" type="NCName"/>
  <element name="Assertion" type="saml-rw:AssertionType"/>
  <complexType name="AssertionType">
    <sequence>
      <element name="Conditions" type="saml-rw:ConditionsType" minOccurs="0"/>
      <element name="Advice" type="saml-rw:AdviceType" minOccurs="0"/>
      <choice maxOccurs="unbounded">
        <element name="Statement" type="saml-rw:StatementAbstractType"/>
        <element name="SubjectStatement" type="saml-rw:SubjectStatementAbstractType"/>
        <element name="AuthenticationStatement" type="saml-rw:AuthenticationStatementType"/>
        <element name="AuthorizationDecisionStatement"
          type="saml-rw:AuthorizationDecisionStatementType"/>
        <element name="AttributeStatement" type="saml-rw:AttributeStatementType"/>
      </choice>
      <element name="Signature" type="ds-rw:SignatureType" minOccurs="0"/>
    </sequence>
    <attribute name="MajorVersion" type="integer" use="required"/>
    <attribute name="MinorVersion" type="integer" use="required"/>
    <attribute name="AssertionID" type="ID" use="required"/>
    <attribute name="Issuer" type="string" use="required"/>
    <attribute name="IssueInstant" type="dateTime" use="required"/>
  </complexType>
  <element name="Conditions" type="saml-rw:ConditionsType"/>
  <complexType name="ConditionsType">
    <choice minOccurs="0" maxOccurs="unbounded">
      <element name="AudienceRestrictionCondition" type="saml-rw:AudienceRestrictionConditionType"/>
      <element name="DoNotCacheCondition" type="saml-rw:DoNotCacheConditionType"/>
      <element name="Condition" type="saml-rw:ConditionAbstractType"/>
    </choice>
    <attribute name="NotBefore" type="dateTime" use="optional"/>
    <attribute name="NotOnOrAfter" type="dateTime" use="optional"/>
  </complexType>
  <element name="Condition" type="saml-rw:ConditionAbstractType"/>
  <complexType name="ConditionAbstractType" abstract="true"/>
  <element name="AudienceRestrictionCondition" type="saml-rw:AudienceRestrictionConditionType"/>
  <complexType name="AudienceRestrictionConditionType">
    <complexContent>
      <extension base="saml-rw:ConditionAbstractType">
        <sequence>
          <element name="Audience" type="xs:anyURI" maxOccurs="unbounded"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <element name="Audience" type="anyURI"/>
  <element name="DoNotCacheCondition" type="saml-rw:DoNotCacheConditionType"/>
  <complexType name="DoNotCacheConditionType">
    <complexContent>
      <extension base="saml-rw:ConditionAbstractType"/>
    </complexContent>
  </complexType>
  <element name="Advice" type="saml-rw:AdviceType"/>
  <complexType name="AdviceType">
    <choice minOccurs="0" maxOccurs="unbounded">
      <element name="AssertionIDReference" type="xs:NCName"/>
      <element name="Assertion" type="saml-rw:AssertionType"/>
      <xs:element name="Base64Content" type="xs:base64Binary" minOccurs="0" maxOccurs="1"/>
    </choice>
  </complexType>
  <element name="Statement" type="saml-rw:StatementAbstractType"/>
  <complexType name="StatementAbstractType" abstract="true"/>
  <element name="SubjectStatement" type="saml-rw:SubjectStatementAbstractType"/>
  <complexType name="SubjectStatementAbstractType" abstract="true">
    <complexContent>
      <extension base="saml-rw:StatementAbstractType">
        <sequence>
          <element name="Subject" type="saml-rw:SubjectType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <element name="Subject" type="saml-rw:SubjectType"/>
  <complexType name="SubjectType">
    <choice>
      <sequence>
        <element name="NameIdentifier" type="saml-rw:NameIdentifierType"/>
        <element name="SubjectConfirmation" type="saml-rw:SubjectConfirmationType" minOccurs="0"/>
      </sequence>
      <element name="SubjectConfirmation" type="saml-rw:SubjectConfirmationType"/>
    </choice>
  </complexType>
  <element name="NameIdentifier" type="saml-rw:NameIdentifierType"/>
  <complexType name="NameIdentifierType">
    <simpleContent>
      <extension base="string">
        <attribute name="NameQualifier" type="string" use="optional"/>
        <attribute name="Format" type="anyURI" use="optional"/>
      </extension>
    </simpleContent>
  </complexType>
  <element name="SubjectConfirmation" type="saml-rw:SubjectConfirmationType"/>
  <complexType name="SubjectConfirmationType">
    <sequence>
      <element name="ConfirmationMethod" type="xs:anyURI" maxOccurs="unbounded"/>
      <element name="SubjectConfirmationData" type="xs:anyURI" minOccurs="0"/>
      <element name="KeyInfo" type="ds-rw:KeyInfoType" minOccurs="0"/>
    </sequence>
  </complexType>
  <element name="SubjectConfirmationData" type="anyType"/>
  <element name="ConfirmationMethod" type="anyURI"/>
  <element name="AuthenticationStatement" type="saml-rw:AuthenticationStatementType"/>
  <complexType name="AuthenticationStatementType">
    <complexContent>
      <extension base="saml-rw:SubjectStatementAbstractType">
        <sequence>
          <element name="SubjectLocality" type="saml-rw:SubjectLocalityType" minOccurs="0"/>
          <element name="AuthorityBinding" type="saml-rw:AuthorityBindingType" minOccurs="0"
            maxOccurs="unbounded"/>
        </sequence>
        <attribute name="AuthenticationMethod" type="anyURI" use="required"/>
        <attribute name="AuthenticationInstant" type="dateTime" use="required"/>
      </extension>
    </complexContent>
  </complexType>
  <element name="SubjectLocality" type="saml-rw:SubjectLocalityType"/>
  <complexType name="SubjectLocalityType">
    <attribute name="IPAddress" type="string" use="optional"/>
    <attribute name="DNSAddress" type="string" use="optional"/>
  </complexType>
  <element name="AuthorityBinding" type="saml-rw:AuthorityBindingType"/>
  <complexType name="AuthorityBindingType">
    <attribute name="AuthorityKind" type="QName" use="required"/>
    <attribute name="Location" type="anyURI" use="required"/>
    <attribute name="Binding" type="anyURI" use="required"/>
  </complexType>
  <element name="AuthorizationDecisionStatement" type="saml-rw:AuthorizationDecisionStatementType"/>
  <complexType name="AuthorizationDecisionStatementType">
    <complexContent>
      <extension base="saml-rw:SubjectStatementAbstractType">
        <sequence>
          <element name="Action" type="saml-rw:ActionType" maxOccurs="unbounded"/>
          <element name="Evidence" type="saml-rw:EvidenceType" minOccurs="0"/>
        </sequence>
        <attribute name="Resource" type="anyURI" use="required"/>
        <attribute name="Decision" type="saml-rw:DecisionType" use="required"/>
      </extension>
    </complexContent>
  </complexType>
  <element name="Action" type="saml-rw:ActionType"/>
  <complexType name="ActionType">
    <simpleContent>
      <extension base="string">
        <attribute name="Namespace" type="anyURI"/>
      </extension>
    </simpleContent>
  </complexType>
  <element name="Evidence" type="saml-rw:EvidenceType"/>
  <complexType name="EvidenceType">
    <choice maxOccurs="unbounded">
      <element name="AssertionIDReference" type="xs:NCName"/>
      <element name="Assertion" type="saml-rw:AssertionType"/>
    </choice>
  </complexType>
  <element name="AttributeStatement" type="saml-rw:AttributeStatementType"/>
  <complexType name="AttributeStatementType">
    <complexContent>
      <extension base="saml-rw:SubjectStatementAbstractType">
        <sequence>
          <element name="Attribute" type="saml-rw:AttributeType" maxOccurs="unbounded"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <element name="AttributeDesignator" type="saml-rw:AttributeDesignatorType"/>
  <complexType name="AttributeDesignatorType">
    <attribute name="AttributeName" type="string" use="required"/>
    <attribute name="AttributeNamespace" type="anyURI" use="required"/>
  </complexType>
  <element name="Attribute" type="saml-rw:AttributeType"/>
  <complexType name="AttributeType">
    <complexContent>
      <extension base="saml-rw:AttributeDesignatorType">
        <sequence>
          <element name="AttributeValue" type="xs:anyURI" maxOccurs="unbounded"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <element name="AttributeValue" type="anyType"/>
</schema>
